# Ignore virtual environment directory
.venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Python executable files
*.exe
*.dll
*.so
*.dylib

ec2f874b061bd3a2915949f081f4f5f055104f20/
 SimpleAPI/
